html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right, .text-end {
  text-align: right;
}
.font-14 {
  font-size: 14px;
}
.cell {
  height: 88px;
  line-height: 88px;
  background: transparent;
  position: relative;
  margin-bottom: 15px;
  /* box-shadow: 2px 3px 5px #b6b6b6; */
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #b6b6b6;
  border-left: none;
  padding-left: 10px;
  /* 溢出的动画隐藏 */
  overflow: hidden;
}
.cell::after {
  content: ' ';
  background: #f37e44;
  height: 88px;
  width: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: absolute;
  left: 0;
  top: 0;
}
.cell::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #f37e44 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .3s, opacity .5s;
}
.cell:active::before {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}
.cell-item {
  position: relative;
  height: 46px;
  line-height: 46px;
  background: transparent;
  font-size: 16px;
  padding-left: 10px;
  clear: both;
}
.cell-item::before {
  content: ' ';
  position: absolute;
  top: 11px;
  left: 0;
  width: 5px;
  height: 24px;
  background: #f37e44;
  z-index: 1;
}
.title {
  background: transparent;
  color: #ffffff;
  z-index: 9999 !important;
}
.title::before {
  position: absolute;
  content: ' ';
  opacity: 0.4;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* background: url('../../static/img/20181120165025.jpg'); */
  /* background-size: cover; */
  background: #412122;
  filter: blur(1px) brightness(0.8);
  -webkit-filter: blur(1px) brightness(0.8);
  z-index: -1;
}
.remd_img {
  padding-left: 1px;
  padding-right: 1px;
  box-sizing: border-box;
}
.remd_img:first-child {
  padding-left: 0;
  padding-right: 2px;
}
.remd_img:last-child {
  padding-right: 0;
}
/* 页面切换动画 */
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all .5s;
  position: absolute;
  width:100%;
  left:0;
}
.slide-right-enter {
  transform: translateX(-100%);
}
.slide-right-leave-active {
  transform: translateX(100%);
}
.slide-left-enter {
  transform: translateX(100%);
}
.slide-left-leave-active {
  transform: translateX(-100%);
}
/* 红色未读消息 */
.badg {
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  background: #bf1212;
  text-align: center;
  border-radius: 50%;
  color: #ffffff
}
/* 黑色半透明line */
.item-line {
  height: 10px;
  clear: both;
  background: #412122;
  opacity: 0.2;
}